<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Register Here</title>
</head>
<body>
	<div class="outer-container">
		<div class="main-container">
			<h1>Register Form</h1>
			<form th:action="@{/add-professer}" method="post"
				th:object="${professer}">
				<!--   <label for="name">Enter Your Name: </label>-->
				<input type="text" name="name" required th:value="${department.departmentName}"
					placeholder="Enter Name of Professer" class="input-box" />
				<div th:if="${#fields.hasErrors('name')}" th:errors="${department.departmentName}"
					class="validation-error"></div>

				<input type="text" name="phoneNumber" required th:value="${department.departmentHead}"
					placeholder="Enter Email" class="input-box" />
				<div th:if="${#fields.hasErrors('departmentHead')}" th:errors="${department.departmentHead}"
					class="validation-error"></div>

				<!--<label for="phone">Enter Phone:</label>-->

				<!--  <label for="password">Enter Password:</label>-->
				<input type="submit" value="Add" class="submit-btn" />
			</form>
		</div>
	</div>
</body>
</html>